.widget-stats .stats-icon.stats-icon-lg.stat-lap {
  font-size: 128px !important;
  top: 15px !important;
  color: #fff !important;
  width: 128px !important;
  height: 50px !important;
  line-height: 50px !important;
  text-shadow: 3px 7px rgba(0, 0, 0, 0.25) !important;
  opacity: 0.15 !important;
  right: 0 !important;
}

.nav-profile .col-md-4,
.nav-profile .col-md-8 {
  padding: 0 !important;
}

.panel-body.panel-stat-lap {
  display: none;
}

/* Main Menu */
.header-mobile {
  display: none;
}
.btn-icon {
  background-color: rgb(14, 12, 40);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 6px;
  display: inline-block;
  font-size: 27px;
  line-height: 45px;
  color: white;
  text-align: center;
  vertical-align: bottom;
}

.btn-text {
  color: #3d405c;
  font-size: 14px;
  padding: 8px;
  line-height: 15px;
}

a:focus,
a:hover {
  text-decoration: none !important;
}

.icon-pengguna {
  background-color: #88daff;
}

a.btn-main-menu:hover .icon-pengguna {
  background-color: #2ba2d9;
}

.icon-checklist {
  background-color: #88ecc8;
}

a.btn-main-menu:hover .icon-checklist {
  background-color: #2cc58e;
}

.icon-file {
  background-color: #ffd785;
}

a.btn-main-menu:hover .icon-file {
  background-color: #f3b535;
}

hr {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

/* Kebersihan Ruangan */
.room-icon {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
}
.room-icon.icon-green {
  background-color: #8decca;
}
.room-icon.icon-yellow {
  background-color: #ffd785;
}
.room-icon.icon-red {
  background-color: #e387b2;
}
.room-text {
  font-size: 13px;
}
a .room-text {
  color: #3d405c !important;
}
/* .panel-status-ruangan {
  border-color: #bce8f1;
}
.panel-status-ruangan > .panel-heading {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
} */
.verif-checkbox {
  padding-top: 5px;
}

@media (max-width: 576px) {
  /* Header */
  .header-mobile {
    display: block;
  }
  .container-fluid {
    padding: 8px 8px 80px 8px;
  }
  .navbar-nav > li > a {
    padding: 15px 10px;
  }
  .navbar-brand {
    padding: 12px 10px;
  }
  .page-header-fixed {
    padding-top: 80px;
  }
  .navbar.navbar-default {
    z-index: -1;
  }
  .content {
    padding-top: 0;
  }
}
